        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f9f9f9;
        }

        h1 {
            font-family: "Oswald", sans-serif;
        }

        .messages {
            display: flex;
            flex-direction: column;
            gap: 10px;
            /* Space between messages */
            margin-bottom: 20px;
            /* Space before input area */
        }

        .message {
            display: flex;
            align-items: flex-end;
            color: white;
        }

        .bubble {
            max-width: 15%;
            padding: 10px;
            border-radius: 20px;
            background-color: #147efb;
        }

        .ai {
            justify-content: flex-start;
        }

        .user-text {
            justify-content: flex-end;
        }

        .ai .bubble {
            background-color: cornsilk;
        }

        .user-text .bubble {
            background-color: aliceblue;
        }

        .input-area {
            display: flex;
            align-items: center;
        }

        .input-area input {
            flex: 1;
            padding: 15px;
            border: 2px solid black;
            border-radius: 20px;
            outline: none;
        }

        .input-area button {
            padding: 15px 20px;
            margin-left: 10px;
            background-color: purple;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            color: white;
        }

        #header {
            text-align: center;
            padding-bottom: 2em;
        }
        